/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1.5;
  font-family: "Bruno Ace SC", cursive, serif;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ta-center {
  text-align: center;
}

.fd-column {
  flex-direction: column;
}

.title {
  font-size: 4rem;
}

.medium {
  font-size: 1.25rem;
}

.basicPadding {
  padding: 160px 0;
}

.item-margin {
  margin: 0 12px;
}

.dark {
  color: black;
}

.light {
  color: #FFFFFF;
}

.bg-dark {
  background: black;
}

.mb-6 {
  margin-bottom: 24px;
}

.mr-3 {
  margin-right: 12px;
}

.header {
  padding-top: 40px;
}
.header .nav-li {
  width: 306px;
  margin-right: 61px;
}
.header .nav-li:last-child {
  width: 196px;
  text-align: end;
  margin-right: 0;
}
.header .nav-link {
  color: #D1D1D1;
}
.header .nav-link:hover {
  color: #00FFA3;
}

.block1 {
  padding: 72px 0;
}
.block1-article {
  width: 636px;
}
.block1-article h1 {
  color: #00FFA3;
  font-size: 8rem;
  text-align: end;
}
.block1-contact {
  margin-left: auto;
}
.block1-link {
  background: #FFFFFF;
  padding: 12px 24px;
  border-radius: 32px;
  display: block;
}
.block1-link:hover {
  background: #00FFA3;
}

.block2 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
}
.block2-article {
  width: 526px;
}
.block2-article-h2 {
  margin-bottom: 36px;
}
.block2-article-p {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.block3 .card {
  width: 636px;
}
.block3 .card-box {
  flex-wrap: wrap;
}
.block3 .card-item {
  width: 274px;
  padding: 16px;
  border: 1px solid #e3e3e3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}
.block3 .card-h3 {
  margin: 4px 0;
}
.block3-article {
  width: 526px;
  margin-left: 134px;
}
.block3-article .block3-h2 {
  margin-bottom: 36px;
}
.block3-article :last-child {
  font-size: 1.5rem;
}

.block4 {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.block4-h2 {
  padding: 129px 0;
  margin-right: 113px;
}
.block4-h2 .arrow {
  margin-left: 16px;
}
.block4 .sns-link {
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
}
.block4 .sns-link :hover {
  box-shadow: 0 0 10px 3px rgba(144, 148, 255, 0.9);
  border-radius: 40px;
}
.block4 .photo {
  display: block;
  width: 162px;
  height: 162px;
  margin: 10px;
}

.block5-side {
  margin-right: 24px;
  margin-top: auto;
}
.block5-h2 {
  margin-bottom: 16px;
}
.block5-article {
  width: 636px;
}
.block5-link {
  padding: 12px 24px;
  border-radius: 32px;
}
.block5-link:hover {
  background: #00FFA3;
  color: black;
}
.block5-link:hover .block5-arrow {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward.png?raw=true");
}
.block5-arrow {
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward-white.png?raw=true");
  margin-left: 4px;
}
.block5-photo {
  margin-top: 28px;
}
.block5-photo :first-child {
  margin-right: 24px;
}

.footer {
  background: black;
  padding: 40px 0;
}/*# sourceMappingURL=week2.css.map */