/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1.5;
  font-family: "Bruno Ace SC", cursive, serif;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.fd-column {
  flex-direction: column;
}

.title {
  font-size: 4rem;
}

.basicPadding {
  padding: 160px 0;
}

.item-margin {
  margin: 0 12px;
}

.dark {
  color: black;
}

.light {
  color: #FFFFFF;
}

.bg-dark {
  background: black;
}

.header {
  padding-top: 40px;
}
.header .nav-li {
  width: 306px;
  margin-right: 61px;
}
.header .nav-li:last-child {
  width: 196px;
  text-align: end;
  margin-right: 0;
}
.header .nav-li .nav-link {
  color: #D1D1D1;
}
.header .nav-li .nav-link:hover {
  color: #00FFA3;
}

.hello {
  padding: 72px 0;
}
.hello-article {
  width: 636px;
}
.hello-article h1 {
  color: #00FFA3;
  font-size: 8rem;
  text-align: end;
}
.hello-contact {
  margin-left: auto;
}
.hello-link {
  background: #FFFFFF;
  padding: 12px 24px;
  border-radius: 32px;
  color: black;
  display: inline-block;
  text-align: end;
}
.hello-link:hover {
  background: #00FFA3;
}

.block2 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
}
.block2-article {
  width: 526px;
}
.block2-article-h2 {
  margin-bottom: 36px;
}
.block2-article-p {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.aboutMe {
  justify-content: center;
}
.aboutMe .card {
  width: 636px;
  align-items: center;
}
.aboutMe .card ul {
  justify-content: space-between;
  flex-wrap: wrap;
}
.aboutMe .card-item {
  width: 274px;
  padding: 16px;
  border: 1px solid #e3e3e3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px;
}
.aboutMe .card-item :first-child {
  font-size: 1.25rem;
}
.aboutMe .card-item h3 {
  font-size: 1.25rem;
  margin: 4px 0;
}
.aboutMe .article {
  width: 526px;
  margin-left: 134px;
}
.aboutMe .article h2 {
  margin-bottom: 36px;
}
.aboutMe .article p {
  font-size: 1.5rem;
}

.cocntactMe {
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.cocntactMe h2 {
  color: #FFFFFF;
  margin-right: 16px;
  padding: 129px 0;
}
.cocntactMe .sns {
  margin-left: 113px;
}
.cocntactMe .photo {
  align-items: center;
}

.myProjects {
  justify-content: center;
}
.myProjects .side {
  margin-right: 24px;
  margin-top: auto;
}
.myProjects .card {
  justify-content: space-between;
}
.myProjects .projects h2 {
  text-align: center;
  margin-bottom: 16px;
}
.myProjects .projects .article {
  flex-direction: column;
  width: 636px;
  justify-content: space-between;
}
.myProjects .projects .article .link {
  padding-bottom: 8px;
}
.myProjects .projects .article a {
  padding: 12px 24px;
  background: black;
  border-radius: 32px;
  color: #FFFFFF;
}
.myProjects .photo {
  margin-top: 28px;
}
.myProjects .photo :first-child {
  margin-right: 24px;
}

.footer {
  background: black;
  padding: 40px 0;
}
.footer p {
  text-align: center;
  color: #FFFFFF;
}/*# sourceMappingURL=week2.css.map */