body {
    line-height: 1.5;
    font-family: 'Bruno Ace SC', cursive, serif;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

.d-flex {
    display: flex;
}

.jc-center{
    justify-content: center;
}

.jc-between{
    justify-content: space-between;
}

.ai-center{
    align-items: center;
}

.ta-center{
    text-align: center;
}

.fd-column{
    flex-direction: column;
}

.title {
    font-size: $basic-font-size * 4;
}

.medium{
    font-size: $basic-font-size * 1.25;
}

.basicPadding {
    padding: $basic-block-padding 0;
}

.item-margin {
    margin: 0 12px;
}

.dark{
    color: $dark-color;
}

.light{
    color: $light-color;
}

.bg-dark{
    background: $dark-color;
}

.mb-6{
    margin-bottom: 24px;
}

.mr-3{
    margin-right: 12px;
}