.aboutMe {
    justify-content: center;

    .card {
        width: 636px;
        align-items: center;

        ul {
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-item {
            width: 274px;
            padding: 16px;
            border: 1px solid #E3E3E3;
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
            margin-bottom: 24px;

            :first-child {
                font-size: $h3-font-size;
            }

            h3 {
                font-size: $h3-font-size;
                margin: 4px 0;
            }
        }
    }

    .article {
        width: 526px;
        margin-left: 134px;

        h2 {
            margin-bottom: 36px;
        }

        p {
            font-size: $basic-font-size * 1.5;
        }
    }
}