.cocntactMe {
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);

    h2 {
        color: $light-color;
        margin-right: 16px;
        padding: 129px 0;
    }

    .sns {
        margin-left: 113px;
    }

    .photo {
        align-items: center;
    }
}