.header {
    background: $main-color;
    padding-top: 40px;

    ul {
        justify-content: center;
    }

    li {
        width: 306px;
        margin-right: 61px;

        &:last-child {
            width: 196px;
            text-align: end;
            margin-right: 0;
        }
    }

    a {
        color: $header-link-color;
    }
}

.footer {
    background: $main-color;
    padding: 40px 0;

    p {
        text-align: center;
        color: $light-color;
    }
}