.hello {
    background: $main-color;
    justify-content: center;
    padding: $basic-block-padding * 0.45 0;

    .article {
        width: 636px;
        flex-direction: column;
        justify-content: center;

        p {
            color: $light-color;
        }

        h1 {
            color: #00FFA3;
            font-size: $basic-font-size * 8;
            text-align: end;
        }

        .contact {
            margin-left: auto;
        }

        a {
            background: $light-color;
            padding: 12px 24px;
            border-radius: 32px;
            color: $main-color;
        }
    }
}