.introduction {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
    justify-content: center;

    .article {
        width: 526px;

        h2 {
            color: $light-color;
            margin-bottom: 36px;
        }

        p {
            color: $light-color;
            font-size: 24px;
            margin-bottom: 32px;
        }
    }
}