.myProjects{
    justify-content: center;
    .side{
        margin-right: 24px;
        margin-top: auto;
    }
    .card{
        justify-content: space-between;
        
    }
    .projects{
        h2{
            text-align: center;
            margin-bottom: 16px;
        }
        .article{
            flex-direction: column;
            width: 636px;
            justify-content: space-between;
            a{
                padding: 12px 24px;
                background: $main-color;
                border-radius: 32px;
                color: $light-color;
            }
        }
    }
    .photo{
        margin-top: 28px;
        :first-child {
            margin-right: 24px;
        }
    }
}