// 各類import
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro&display=swap");
@import "variable";
@import "generic";
@import "mixin";

.header {
    padding-top: 40px;

    .nav-li {
        width: 306px;
        margin-right: 61px;

        &:last-child {
            width: 196px;
            text-align: end;
            margin-right: 0;
        }

        .nav-link {
            color: $nav-link-color;

            &:hover {
                color: $active-color;
            }
        }
    }
}

.block1 {
    padding: $basic-block-padding * 0.45 0;

    &-article {
        width: 636px;

        h1 {
            color: $active-color;
            font-size: $basic-font-size * 8;
            text-align: end;
        }
    }

    &-contact {
        margin-left: auto;
    }

    &-link {
        background: $light-color;
        padding: 12px 24px;
        border-radius: 32px;
        color: $dark-color;
        display: block;
        text-align: end;
        &:hover{
            background: $active-color;
        }
    }
}

.block2 {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");

    &-article {
        width: 526px;

        &-h2 {
            margin-bottom: 36px;
        }

        &-p {
            font-size: $basic-font-size*1.5;
            margin-bottom: 32px;
        }
    }
}

.block3 {
    .card {
        width: 636px;

        &-box {
            flex-wrap: wrap;
        }

        &-item {
            width: 274px;
            padding: 16px;
            border: 1px solid #e3e3e3;
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);

        }
        &-h3 {
            margin: 4px 0;
        }
    }

    .block3-article {
        width: 526px;
        margin-left: 134px;

        .block3-h2 {
            margin-bottom: 36px;
        }

        :last-child {
            font-size: $basic-font-size * 1.5;
        }
    }
}

.block4 {
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);

    .block4-h2 {
        padding: 129px 0;
        margin-right: 113px;
        .arrow{
            margin-left: 16px;
        }
    }

    .sns {
        &-link{
            @include img-hide-text;
            :hover{
                @include img-hover-zoom-in;
            }
        }
    }

    .photo {
        display: block;
        width: 162px;
        height: 162px;
    }
    .discord{
        width: 152px;
        height: 152px;
        padding: 20px;
    }
    .message{
        // 視覺上調整
        margin-left: 8px;
    }
}

.myProjects {
    justify-content: center;

    .side {
        margin-right: 24px;
        margin-top: auto;
    }

    .card {
        justify-content: space-between;
    }

    .projects {
        h2 {
            text-align: center;
            margin-bottom: 16px;
        }

        .article {
            flex-direction: column;
            width: 636px;
            justify-content: space-between;

            .link {
                padding-bottom: 8px;
            }

            a {
                padding: 12px 24px;
                background: $dark-color;
                border-radius: 32px;
                color: $light-color;
            }
        }
    }

    .photo {
        margin-top: 28px;

        :first-child {
            margin-right: 24px;
        }
    }
}

.footer {
    background: $dark-color;
    padding: 40px 0;

    p {
        text-align: center;
        color: $light-color;
    }
}